@media only screen and (max-width: 912px) and (min-width: 769px) {
  html,
  body {
    width: 912px;
  }

  .header__wrapper,
  .about__wrapper,
  .table__wrapper,
  .footer__wrapper,
  .header__nav-wrapper,
  .advantages__wrapper,
  .community__wrapper,
  .price__wrapper,
  .join__wrapper {
    width: 750px;
    margin: 0 auto;
  }

  .header__nav-list,
  .header__nav-link,
  .community__empty,
  .header__nav-link--cont,
  .bgvideo,
  .subscribe__content p  {
    display: none;
  }

    .header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/happy-people.jpg);
}

  .header__title {
    font-size: 40px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__nav-title {
    border: none;
    width: 50%;
    margin-left: -76px;
  }

  .menu,
  .background {
    display: block;
    width: 50%;
  }

  .header__nav {
    width: 912px;
  }


  .community {
    background-attachment: inherit;
  }

  .foto__about-content-item {
    background-size: cover;
    background-position: top;
    height: 400px;;;
  }

  .foto__about-content-item--title {
    color: #fff;
    padding-top: 280px;
    padding-bottom: 30px;
    font-size: 20px;
  }

  .community__row {
    margin: 0 auto;
    line-height: 1.1;
    font-weight: 500;
    padding-top: 20px;
    font-size: 18px;;
  }

  .about,
  .advantages {
    margin: 0;
  }


  .about__text-link {
    margin-top: 18px;}

  .about__text-title {
    padding-top: 20px;
    font-size: 22px;;
  }

  .about__text-row {
    font-size: 11px;
    padding: 0px 10px 10px 10px;
    text-align: center;
  }

  .advantages {
    padding-bottom: 0;
    padding-top: 20px;
  }

  .advantages__content--top {
    padding-top: 30px;
  }

  .community__text {
    width: 100%;
  }

  .advantages__content--bottom {
    padding: 30px 0;
  }

  .advantages__content-item {
    width: 110px;
  }

  .advantages__content {
    justify-content: space-around;
  }

  .map__content-title--mobile {
    display: none;
  }

  .map__content-title--desktop {
    padding-top: 20px;
  }

  #map__content-map {
    width: 100%;
    height: 450px;
  }

  .map__content-text {
    width: 100%;
  }

  .map {
    background-color: rgba(241, 241, 241, 0.6);;
  }

  .map__content-row {
    padding-top: 20px;
    padding-bottom: 20px;
    /* text-align:  center; */
    ;
  }

  .map__content-row--metro {
    text-align: center;
  }

  .map__content-row--link {
    margin-bottom: 50px;
    margin-top: 20px;;
  }

  .subscribe__content {
    height: 161px;
  }

  .subscribe__img {
    margin-bottom: 2px;
  }

  .subscribe {
    margin-top: 50px;
  }

  .join {
    height: 395px;
  }

  .join__title {
    padding-top: 100px;
  }

  .join__link {
    margin-bottom: 50px;
  }

  .footer {
    height: 185px;
  }

  .footer__content {
    width: 46%;
    padding: 25px 0;
  }

  .footer__social-link {
    width: 30px;
    height: 30px;
  }

  .subscribe__title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .advantages__content--tablet {
    display: none;
  }

  .advantages__content-img {
    width: 40px;
  }

  .advantages__content-row {
    font-size: 11px;;}

  .advantages__content--tablet-bottom {
    padding-bottom: 50px;
  }

  .price__table th,
  .price__table td {
    padding: 12px;
  }

  .price__table {
    font-size: 12px;
  }

  .price {
    padding: 50px 0;
  }

  .subscribe__content--tablet {
    display: none;
  }

}
