@media only screen and (max-width: 414px) and (min-width: 321px) {
  html,
  body {
    width: 414px;
  }

  .header__wrapper,
  .about__wrapper,
  .table__wrapper,
  .footer__wrapper,
  .header__nav-wrapper,
  .advantages__wrapper,
  .community__wrapper,
  .price__wrapper,
  .join__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  .header__nav-list,
  .header__nav-link,
  .community__empty {
    display: none;
  }

  .header__title {
    font-size: 40px;
  }

  .header__link {
    width: 100%;
    font-size: 16px;
  }

  .header__nav-title {
    border: none;
  }

  .header__nav {
    width: 414px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__slider {
    width: 100%;
  }

  .about__text {
    width: 100%;
  }

  .advantages__content {
    flex-direction: column;
  }

  .advantages__content-item {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .community {
    background-attachment: inherit;
    margin-top: 50px;
  }

  .foto__about-content {
    flex-direction: column;
  }

  .foto__about-content-item {
    width: 100%;
    background-size: contain;
    background-position: top;
  }

  .foto__about-content-item--title {
    color: #1f1f1f;
    padding-top: 310px;
    padding-bottom: 30px;
    font-size: 14px;
  }
  .foto__about-content-item--1 {

    background-image: url(../img/foto__about-1-min.jpg);
  }

  .foto__about-content-item--2 {
    background-image: url(../img/foto__about-2-min.jpg);
  }

  .foto__about-content-item--3 {
    background-image: url(../img/foto__about-3-min.jpg);
  }

  .foto__about-content-item--4 {
    background-image: url(../img/foto__about-4-min.jpg);
  }

  .foto__about-content-item--5 {
    background-image: url(../img/foto__about-5-min.jpg);
  }

  .foto__about-content-item--6 {
    background-image: url(../img/subscribe-3-min.jpg);
  }

  .community__row {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 500;
    padding-top: 100px;
  }

  .about__text-title {
    padding-top: 50px;
  }

  .about__text-row {
    font-size: 14px;
  }

  .advantages {
    background-color: rgba(241, 241, 241, 0.6);
  }

  .advantages__content--top {
    padding-top: 30px;
  }

  .advantages__content--bottom {
    padding-top: 5px;
    padding-bottom: 30px;
  }

  .map__content {
    flex-direction: column;
  }

  .map__content-map {
    width: 100%;
    height: 214px;
  }

  .map__content-text {
    width: 100%;
  }

  .map__content-title--mobile {
    display: block;
    padding: 50px 0;
    margin-bottom: 0;
  }

  .map__content-title--desktop {
    display: none;
  }

  .map {
    background-color: rgba(241, 241, 241, 0.6);
  }

  .map__content-row {
    padding-top: 20px;
  }

  .map__content-row--link {
    margin-bottom: 50px;
  }

  .subscribe__content {
    flex-direction: column;
    height: 100%;
  }

  .subscribe__img {
    width: 98%;
    margin-bottom: 2px;
  }

  .subscribe {
    margin-top: 50px;
  }

  .join {
    height: 100%;
  }

  .join__title {
    padding-top: 100px;
  }

  .join__link {
    margin-bottom: 50px;
  }

  .footer {
    height: 185px;
  }

  .footer__content {
    width: 100%;
    padding: 30px 0;
  }

  .footer__social-link {
    width: 30px;
    height: 30px;
  }

  .subscribe__title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .price__table th,
  .price__table td {
    padding: 8px;
  }

  .price__table th:nth-child(4),
  .price__table td:nth-child(4) {
    display: none;
  }

  .price__table {
    font-size: 12px;
  }

  .price {
    padding: 50px 0;
  }
}
