/* Menu */

.menu {
  background: #1f1f1f;
  left: -285px;
  height: 100%;
  position: fixed;
  width: 285px;
}




/* Basic CSS */

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  line-height: 45px;
  text-align: right;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-top: 3px;
}

.menu li:hover {
  cursor: pointer;
  background-color: #555;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  width: 18px;
  height: 18px;
  margin-top: 21px;
  margin-left: 248px;
  cursor: pointer;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-menu {
  width: 18px;
  height: 18px;
  margin-top: 21px;
  margin-left: 112px;
  cursor: pointer;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-menu img {
  margin-right: 5px;
}

.navbar-fixed-top.scrolled .icon-menu {
  background-image: url(../img/menu_nav.svg);
}


@media only screen and (max-width: 414px) and (min-width: 321px) {

  .icon-menu {
    margin-left: 133px;
  }
}

@media only screen and (max-width: 640px) and (min-width: 415px) {

  .icon-menu {
    margin-left: 172px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 641px) {

  .icon-menu {
    margin-left: 503px;
  }
}

@media only screen and (max-width: 912px) and (min-width: 769px) {
  .icon-menu {
    margin-left: 622px;
  }
}
