.slideshow-container {
  position: relative;
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 230px;
    width: auto;
    padding: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
}

.next {
    border-radius: 3px 0 0 3px;
    left: 775px;
}

.dot_box {
  text-align: center;
  position: relative;
  top: -35px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active, dot:hover {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity: 0.4}
    to{opacity: 1}
}

@keyframes fade {
    from{opacity: 0.4}
    to{opacity: 1}
}

@media only screen and (max-width: 320px) {
  .prev, .next {
  top: 75px;
  font-size: 15px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.8);
  }

  .next {
  left: 291px;
  }

  .dot {
  width: 8px;
  height: 8px;
  }
}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  .prev, .next {
  top: 115px;
  font-size: 15px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.8);
  }

  .next {
  left: 391px;
  }

  .dot {
  width: 8px;
  height: 8px;
  }
}
