* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(31, 31, 31, 1);
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__wrapper,
.about__wrapper,
.table__wrapper,
.footer__wrapper,
.header__nav-wrapper,
.advantages__wrapper,
.community__wrapper,
.price__wrapper,
.join__wrapper,
.press__wrapper {
  width: 1024px;
  margin: 0 auto;
}


/*   H E A D E R   */

.header__nav-wrapper {
  display: flex;
}

.header__nav-title {
  font-size: 24px;
  font-weight: 600;
  color: #f2f2f2;
  padding-top: 12px;
  border-right: 1px solid rgba(242, 242, 242, 0.5);
  height: 60px;
  display: flex;
  width: 15%;
  justify-content: center;
}

.header__nav-title::before {
  display: inline-block;
  content: "";
  width: 50px;
  background-image: url(../img/logo_col.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -9px;
}

.header {
  position: relative;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.kostil {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.roudme_link {
  position: relative;
  display: block;
  width: 50px;
  height: 60px;
  margin: 0 auto;
  background-image: url(../img/roundme_link.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease;
}

.roudme_link:hover {
  transform: scale(1.1);
}


.header__nav {
  display: flex;
  height: 60px;
  border-bottom: 1px solid rgba(242, 242, 242, 0.5);
  position: fixed;
  z-index: 999999999;
  width: 100%;
}

.header__nav a {
  color: #f2f2f2;
}

.header__nav-item {
  display: inline-block;
  font-size: 15px;
  padding-top: 20px;
  margin-right: 21px;
}

.header__nav-item:nth-child(1) {
  margin-left: 20px;
}

.header__nav-link--cont {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 60px;
  border-left: 1px solid rgba(242, 242, 242, 0.5);
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__nav-link {
  font-size: 15px;
}

.header__nav-list {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.header__nav-link:hover {
  color: #2ebd7f;
}


.navbar-fixed-top.scrolled {
  background-color: rgba(250, 250, 250, 1) !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .header__nav-item a,
.navbar-fixed-top.scrolled .header__nav-title,
.navbar-fixed-top.scrolled .header__nav-link {
  color: rgba(31, 31, 31, 0.8);
}

.navbar-fixed-top.scrolled .header__nav-link--cont {
  padding-top: 10px;
}


.navbar-fixed-top.scrolled .header__nav-title::before {
  background-image: url(../img/logo_col_scroll.svg);
}

.navbar-fixed-top.scrolled .header__nav-item a:hover {
  border-bottom: 2px solid rgba(31, 31, 31, 0.8);
}

.navbar-fixed-top.scrolled .header__nav-link {
  color: #f2f2f2;
  padding: 10px 15px 5px 15px;
  background-color: #2ebd7f;
}

.header__title {
  position: relative;
  text-align: center;
  color: #f2f2f2;
  font-size: 90px;
  font-weight: 400;
  padding-top: 250px;
  user-select: none;
}

.header__subtitle {
  user-select: none;
   position: relative;
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 50px;
}

.header__subtitle--roundme {
  margin-bottom: 20px;
}

.header__nav-item a:hover {
  border-bottom: 2px solid #f2f2f2;
}

.header__link {
   position: relative;
  width: 300px;
  display: block;
  text-align: center;
  color: #f2f2f2;
  border: 0.8px solid #f2f2f2;
  border-radius: 3px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px;
  transition: 0.5s ease;
}

.header__link:hover {
  transform: scale(1.1);
}

.header__wrapper {
  padding-bottom: 200px;
}

.menu,
.background {
  display: none;
}








/*   A B O U T   */

.about {
  background-color: #fff;
  z-index: -99999999;
}

.about__content {
  display: flex;
}

.about__slider {
  width: 60%;
  position: relative;
}

.about__text {
  width: 40%;
  background-color: #fff;
}

.about__text-row--bold {
  font-weight: 600;
}

.about__text-title {
  padding-top: 50px;
  font-size: 25px;
  color: #1f1f1f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.about__text-row {
  font-size: 14px;
  color: #1f1f1f;
  padding: 0 30px;
  padding-bottom: 10px;
  line-height: 1.3;
}

.about__text-link {
  font-size: 16px;
  width: 250px;
  display: block;
  text-align: center;
  background-color: #2ebd7f;
  color: #f2f2f2;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
  transition: 0.5s ease;
}

.about__text-link:hover {
  transform: scale(1.1);
}

.slideshow img {
  width: 100%;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9999;
  width: auto;
  height: auto;
}





/*   A D V A N T A G E S   */

.advantages {
  background-color: #f1f1f1;
  padding: 50px 0;
  margin-top: -23px;
  z-index: 99999999;
  position: relative;
}

.advantages__content {
  display: flex;
  padding: 100px 0;
  justify-content: space-around;
  ;
}

.advantages__content-item {
  width: 190px;
}

.advantages__content--top {
  padding-bottom: 0;
  padding-top: 0;
}

.advantages__content-img {
  width: 80px;
  margin: 0 auto;
  display: block;
}

.advantages__content-row {
  text-align: center;
  font-size: 14px;
  color: rgba(31, 31, 31, 0.8);
  padding: 25px 0;
  font-weight: 500;
  line-height: 1.5;
}




/*   C O M M U N I T Y   */

.community {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/community_EN.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
}

.community__content {
  display: flex;
  justify-content: flex-start;
}

.community__empty {
  width: 0%;
}

.community__text {
  padding-bottom: 30px;
  width: 100%;
}

.community__title {
  font-size: 35px;
  font-weight: 600;
  color: #f2f2f2;
  padding: 80px 0 15px 0;
}

.community__row {
  line-height: 0;
  color: #f2f2f2;
  font-size: 18px;
  padding: 25px 0;
  font-weight: 500;
}






/*   P R I C E   */

.price {
  padding: 100px 0;
  background-color: #fff;
  ;
}

.price__table {
  border-collapse: collapse;
}

.price__table th,
.price__table td {
  width: 256px;
  padding: 18px;
}

.price__table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.price__table-mobile {
  display: none;
}

.price__table tr:nth-child(1),
.price__table tr:nth-child(9) {
  border: none;
}

.price__table th:nth-child(1),
.price__table td:nth-child(1) {
  text-align: left;
  color: #aaa;
}

.price__table th.pricer__table--th-color {
  color: #aaa;
}

.price__table td {
  text-align: center;
}

.price__table th.price__table--characteristic {
  color: rgba(31, 31, 31, 1);
}

.price__table--coord {
  font-size: 12px;
  color: rgba(31, 31, 31, 0.5);
}

.price__table sup {
  color: rgba(31, 31, 31, 0.5);
}

.pricer__table--colivium {
  background-color: #f1f1f1;
}

.pricer__table--color {
  border: 2px solid #2ebd7f;
  color: #2ebd7f;
  font-weight: 500;
}

.price__table td.price__table--total {
  color: rgba(31, 31, 31, 1);
}



/*   P R E S S   */

.press {
  height: 250px;
  padding-top: 50px;
}

.press__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.press_link {
  display: block;
  width: 200px;
  height: 71px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.press_link--strelka {
  background-image: url(../img/strelka.svg);
}


.press_link--strelka:hover, .press_link--strelka:active {
  background-image: url(../img/strelka_hover.svg);
}

.press_link--village {
  background-image: url(../img/village.png);
}

.press_link--village:hover, .press_link--village:active {
  background-image: url(../img/village_hover.png)
}

.press_link--rbc {
  background-image: url(../img/rbc.png);
}

.press_link--rbc:hover,
.press_link--rbc:active {
  background-image: url(../img/rbc_hover.png);
}

.press_link--ntv {
  background-image: url(../img/ntv.png);
}

.press_link--ntv:hover, .press_link--ntv:active {
  background-image: url(../img/ntv_hover.png);
}

/*   F O T O - A B O U T   */

.foto__about-content {
  display: flex;
}

.foto__about-content-item {
  width: 50%;
}


.foto__about-content-item--title {
  color: #fff;
  font-weight: 500;
  padding: 320px 30px 29px 30px;
}

.foto__about-content-item--1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/foto__about-1-min.jpg);
}

.foto__about-content-item--2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/foto__about-2-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto__about-content-item--3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/foto__about-3-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto__about-content-item--4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/foto__about-4-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto__about-content-item--5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/foto__about-5-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto__about-content-item--6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/subscribe-3-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/*   M A P   */

.map {
  background-color: #f1f1f1;
}

.map__content {
  display: flex;
}

#map__content-map {
  width: 65%;
  height: 500px;
}

.map__content-text {
  width: 35%;
}

.map__content-title {
  padding-top: 80px;
  font-size: 25px;
  color: #1f1f1f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.map__content-row {
  font-size: 16px;
  color: #1f1f1f;
  text-align: center;
  padding: 0 30px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.map__content-row--metro {
  font-size: 15px;
  color: #1f1f1f;
  text-align: center;
  padding: 0 30px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.map__content-row--link {
  font-size: 16px;
  width: 250px;
  display: block;
  text-align: center;
  background-color: #2ebd7f;
  color: #f2f2f2;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
  transition: 0.5s ease;
}

.map__content-row--link:hover {
  transform: scale(1.1);
}

.map__content-title--mobile {
  display: none;
}




/* subscribe */

.subscribe {
  background-color: #fff;
  padding-top: 50px;
}

.subscribe__title {
  text-align: center;
  margin-bottom: 30px;
}

.subscribe__content {
  position: relative;
  display: flex;
  height: 220px;
  padding: 5px;
  background-color: #f1f1f1;
}

.subscribe__img {
  width: 24.5%;
  margin: 0 auto;
}

.subscribe__img img {
  width: 100%;
  height: 100%;
}

.subscribe__content p {
  display: none;
  position: absolute;
  top: 60px;
  font-size: 80px;
  font-weight: 600;
  right: 50%;
  left: 35%;
}

.subscribe__content:hover p {
  display: block;
}

.subscribe__content--opacity {
  display: none;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

.subscribe__content:hover .subscribe__content--opacity {
  display: block;
}

.subscribe__content--tablet {
  display: none;
}

.subscribe__form {
  display: flex;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.subscribe__form input {
  width: 250px;
  height: 50px;
  padding: 0 16px;
  border: 1px solid #e5e5e5;
  border-right: none;
}

.subscribe__button {
  width: 150px;
  border: none;
  background-color: #2ebd7f;
  color: #f2f2f2;
  letter-spacing: 0.05em;
  font-weight: 500;
  cursor: pointer;
}



/*  J O I N  */

.join {
  height: 550px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/join-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.join__title {
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 50px;
  font-size: 30px;
  padding-top: 200px;
  ;
}

.join__link {
  width: 200px;
  display: block;
  text-align: center;
  color: #f2f2f2;
  border: 0.8px solid #f2f2f2;
  border-radius: 3px;
  margin: 0 auto;
  padding: 10px;
  transition: 0.5s ease;
}

.join__link:hover {
  transform: scale(1.1);
}



/*  F O O T E R  */

.footer {
  height: 200px;
  background-color: #333;
}

.footer__content {
  display: flex;
  width: 40%;
  margin: 0 auto;
  padding: 30px 0;
  justify-content: space-around;
}

.footer__social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__social-link--fb {
  background-image: url(../img/facebook.svg);
}

.footer__social-link--tw {
  background-image: url(../img/twitter.svg)
}

.footer__social-link--in {
  background-image: url(../img/instagram.svg);
}

.footer__social-link--fb:hover {
  background-image: url(../img/facebook_hover.svg);
}

.footer__social-link--tw:hover {
  background-image: url(../img/twitter_hover.svg)
}

.footer__social-link--in:hover {
  background-image: url(../img/instagram_hover.svg);
}

.footer__row {
  text-align: center;
  font-size: 12px;
  color: #f2f2f2;
  line-height: 2;
}

.footer__row a {
  color: #f2f2f2;
}

