* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__wrapper,
.about__wrapper,
.table__wrapper,
.footer__wrapper,
.header__nav-wrapper {
  width: 1024px;
  margin: 0 auto;
}


/*   H E A D E R   */

.header__nav-wrapper {
  display: flex;
}

.header__nav-title {
  font-size: 24px;
  font-weight: 600;
  color: #f2f2f2;
  padding-top: 22px;
  padding-right: 23px;
  border-right: 1px solid rgba(242, 242, 242, 0.5);
  height: 80px;
}

.header {
  background-color: rgba(0, 0, 0, 0.3);
}

.header__nav {
  height: 80px;
  border-bottom: 1px solid rgba(242, 242, 242, 0.5);
  position: fixed;
  width: 100%;
}

.header__nav a {
  color: #f2f2f2;
}

.header__nav-item {
  display: inline-block;
  font-size: 15px;
  padding-top: 30px;
  margin-right: 21px;
}

.header__nav-item:nth-child(1) {
  margin-left: 20px;
}

.header__nav-link {
  font-size: 15px;
  padding-top: 30px;
  padding-left: 23px;
  height: 80px;
  border-left: 1px solid rgba(242, 242, 242, 0.5);
}


.navbar-fixed-top.scrolled {
  background-color: rgba(250, 250, 250, 0.9) !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .header__nav-item a,
.navbar-fixed-top.scrolled .header__nav-title,
.navbar-fixed-top.scrolled .header__nav-link {
  color: rgba(31, 31, 31, 0.8);
}

.navbar-fixed-top.scrolled .header__nav-item a:hover {
  border-bottom: 2px solid rgba(31, 31, 31, 0.8);
}

.header__title {
  text-align: center;
  color: #f2f2f2;
  font-size: 90px;
  font-weight: 400;
  padding-top: 150px;
}

.header__subtitle {
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 50px;
}

.header__nav-item a:hover {
  border-bottom: 2px solid #f2f2f2;
}

.header__link {
  width: 300px;
  display: block;
  text-align: center;
  color: #f2f2f2;
  border: 0.8px solid #f2f2f2;
  border-radius: 3px;
  margin: 0 auto;
  padding: 10px;
  transition: 0.5s ease;
}

.header__link:hover {
  transform: scale(1.1);
}

.header__wrapper {
  padding-bottom: 200px;
}



/*   A B O U T   */

.about__content {
  display: flex;
  height: 700px;
}

.about__slider {
  width: 65%;
  background-image: url(../img/about-1-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__text {
  width: 35%;
}

.about__text-title {
  padding-top: 150px;
  font-size: 25px;
  color: #1f1f1f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.about__text-row {
  font-size: 16px;
  color: #1f1f1f;
  padding: 0 30px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.about__text-link {
  font-size: 16px;
  width: 250px;
  display: block;
  text-align: center;
  color: #1f1f1f;
  border: 0.8px solid #1f1f1f;
  border-radius: 3px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
  transition: 0.5s ease;
}

.about__text-link:hover {
  transform: scale(1.1);
}
